## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Ushuaia,AR,2022-08-11 04:37:48,-54.8000,-68.3000,33.46,100,100,1.14,light rain
1,1,Saint-Philippe,RE,2022-08-11 04:39:11,-21.3585,55.7679,67.59,81,79,18.50,light rain
2,2,Vaini,TO,2022-08-11 04:39:12,-21.2000,-175.2000,78.96,94,75,14.97,broken clouds
3,3,Hobart,AU,2022-08-11 04:44:04,-42.8794,147.3294,55.26,69,0,5.75,clear sky
4,4,Andra,RU,2022-08-11 04:44:04,62.5147,65.8878,63.46,53,100,11.12,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
2,2,Vaini,TO,2022-08-11 04:39:12,-21.2000,-175.2000,78.96,94,75,14.97,broken clouds
11,11,Jinchang,CN,2022-08-11 04:44:06,38.4953,102.1739,83.10,52,24,9.17,few clouds
20,20,Ugoofaaru,MV,2022-08-11 04:44:09,5.6667,73.0000,81.95,80,47,11.52,scattered clouds
25,25,Pokhara,NP,2022-08-11 04:44:03,28.2333,83.9833,86.14,56,99,5.35,overcast clouds
29,29,Palauig,PH,2022-08-11 04:44:12,15.4350,119.9045,85.51,71,75,8.79,broken clouds
42,42,Adrar,MR,2022-08-11 04:45:17,20.5022,-10.0711,89.11,33,82,6.13,broken clouds
45,45,Boa Vista,BR,2022-08-11 04:45:18,2.8197,-60.6733,82.38,74,0,2.30,clear sky
46,46,Butaritari,KI,2022-08-11 04:41:48,3.0707,172.7902,81.84,74,15,15.10,few clouds
47,47,Qinhuangdao,CN,2022-08-11 04:45:19,39.9317,119.5883,85.42,57,0,11.74,clear sky
50,50,Helong,CN,2022-08-11 04:45:20,42.5397,128.9972,79.81,51,93,2.04,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        240
City           240
Country        240
Date           240
Lat            240
Lng            240
Max Temp       240
Humidity       240
Cloudiness     240
Wind Speed     240
Description    240
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df
clean_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
2,2,Vaini,TO,2022-08-11 04:39:12,-21.2000,-175.2000,78.96,94,75,14.97,broken clouds
11,11,Jinchang,CN,2022-08-11 04:44:06,38.4953,102.1739,83.10,52,24,9.17,few clouds
20,20,Ugoofaaru,MV,2022-08-11 04:44:09,5.6667,73.0000,81.95,80,47,11.52,scattered clouds
25,25,Pokhara,NP,2022-08-11 04:44:03,28.2333,83.9833,86.14,56,99,5.35,overcast clouds
29,29,Palauig,PH,2022-08-11 04:44:12,15.4350,119.9045,85.51,71,75,8.79,broken clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng", "Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
2,Vaini,TO,78.96,-21.2000,-175.2000,broken clouds,
11,Jinchang,CN,83.10,38.4953,102.1739,few clouds,
20,Ugoofaaru,MV,81.95,5.6667,73.0000,scattered clouds,
25,Pokhara,NP,86.14,28.2333,83.9833,overcast clouds,
29,Palauig,PH,85.51,15.4350,119.9045,broken clouds,
42,Adrar,MR,89.11,20.5022,-10.0711,broken clouds,
45,Boa Vista,BR,82.38,2.8197,-60.6733,clear sky,
46,Butaritari,KI,81.84,3.0707,172.7902,few clouds,
47,Qinhuangdao,CN,85.42,39.9317,119.5883,clear sky,
50,Helong,CN,79.81,42.5397,128.9972,overcast clouds,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.count()

City           240
Country        240
Max Temp       240
Lat            240
Lng            240
Description    240
Hotel Name     240
dtype: int64

In [17]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
2,Vaini,TO,78.96,-21.2000,-175.2000,broken clouds,Keleti Beach Resort
11,Jinchang,CN,83.10,38.4953,102.1739,few clouds,Mingshihui Jinchang International Hotel
20,Ugoofaaru,MV,81.95,5.6667,73.0000,scattered clouds,Ungoofaaru Inn
25,Pokhara,NP,86.14,28.2333,83.9833,overcast clouds,OYO 170 Hotel View Point
29,Palauig,PH,85.51,15.4350,119.9045,broken clouds,Villa Raphael Resort
42,Adrar,MR,89.11,20.5022,-10.0711,broken clouds,
45,Boa Vista,BR,82.38,2.8197,-60.6733,clear sky,Aipana Plaza Hotel
46,Butaritari,KI,81.84,3.0707,172.7902,few clouds,Isles Sunset Lodge
47,Qinhuangdao,CN,85.42,39.9317,119.5883,clear sky,Qinhuangdao Peninsula Seasons Hotel And Apartment
50,Helong,CN,79.81,42.5397,128.9972,overcast clouds,Helong Hotel

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))